/application/data/log/application.log
/application/configs/application.ini
/application/configs/db.ini
/application/data/log/application.log
/application/configs/db.ini
/application/data/log/application.log
/application/configs/db.ini
/application/data/log/application.log
/application/data/log/application.log
/library/ZFDebug/Controller/Plugin/Debug.php
