

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
}

.navbar {
    background-color: red;
}
h1, h2 {
    text-align: center;
}
.icon {
    width: 32px;
}
.icontd{
    width:32px;
}
.ligne {
    height: 30px;
}














