/* 
    Document   : main
    Created on : 8 janv. 2013, 22:33:28
    Author     : Fred H
    Description:background-color: #E5E8ED
        Purpose of the stylesheet follows.
*/

*{
    margin:0px; 
    font-family: sans-serif;
}
body{
    font-family: sans-serif; 
    font-size: 14px;
    margin:0px;
}
.acceuilBlock{
        background-color: #A2A9AF;
        margin: 5px;
        padding:5px;
        border:hidden 3px #000000;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-topright:28px;
        -moz-border-radius-bottomleft:6px;
        -moz-border-radius-bottomright:28px;
        -webkit-border-top-left-radius:6px;
        -webkit-border-top-right-radius:28px;
        -webkit-border-bottom-left-radius:6px;
        -webkit-border-bottom-right-radius:28px;
        border-top-left-radius:6px;
        border-top-right-radius:28px;
        border-bottom-left-radius:6px;
        border-bottom-right-radius:28px;
    } 

#lientitre {color:white;text-decoration: none}
#header{
        position: fixed;
        width : 100%;
        font-size: 20px; 
        color: white; 
        background-color: #5A6571;
        margin:0px;
        z-index: 10;
    }    
#header li{
        display:inline; 
        text-decoration: none;
    }
#header ul{
        text-align: right;
    }
#footer{
        color: white; 
        background-color: #5A6571;
        width: 100%
    }
#footer p {
        text-align: right;
    }
#logoOrga im{
       text-align: left;
       height:45px; 
       width: 45px;
    }
#logoEvent im{
       text-align: left;
       height:45px; 
        width: 45px;
    }
#present{
        text-align: center;
    }     
.message{
        background-color: #A2A9AF;
        margin: 1px 1px 0px 1px;
        padding:5px 5px 5px 2px;
        z-index: 1;
    }
.menuMessage{
        padding: 2px;
        margin: 0px 1px 0px 1px;
        height: 35px;
        background-color: #E5E8ED;
        -moz-box-shadow:inset 0px 5px 5px #636363;
        -webkit-box-shadow:inset 0px 5px 5px #636363;
        box-shadow:inset 0px 5px 5px #636363;
    }
 .menuMessage li{
     position: relative;
     text-decoration: none;
     display: inline;
 }
 .icone{
     position: relative;
     float: left;
     height: 30px;
     width: 30px;
     margin: 5px 5% 0px 5%;
     vertical-align: middle;
 }
.moderation{position: relative;text-align: center; margin: 0px 5px 0px 0px}    
.ecriremessage{
        padding: 0px 2px 0px 2px;
        position: fixed;
        top: 100%;
        margin: -114px 0 0 0;
        width: 100%;
        background-color: #5A6571;
        z-index:10;
    }

dd #message{margin:0px;position:relative;width:50%;height: 20px}
dt dd #choixProfil{margin:0px;position:relative;float:right;}
dt dd #envoyer{margin:0px;position:relative;float:right;}
#vide{
    height: 100px;
    width:100%;
}

.dateMessage{
       position: relative;
       float: right;
       color: gold;
       z-index: 1;
    }
.nomUser{
       font-weight: bold;
       color: gold;
    }
.lblMessage{
        color:white;
    }
.avatar img{
        position: relative;
        float: left;
        height:45px; 
        width: 45px; 
        margin: 2px;
    }
.nbMessage{
        background-image: url(images/message.png);
        float: right;
        height: 25px;
        line-height:25px;
        width: 25px;
        color: white;
        text-align: center;
        z-index:1;
       
    }
.nbMessage span{
        top:5px;
        z-index:2;
    }
@media screen and (max-width: 480px){
    #titre {
        margin:2px;
        float: left;
    }
    a img{
        height:25px; 
        width: 25px; 
        margin: 2px;
        z-index: 1;
    }
    #nomOrga{
        font-size: 20px;
    }
    #nomEvent{
        font-size: 20px;
    }
    .vide{
       height: 34px;
       width: 100%;
    }
}

@media screen and (min-width: 481px){
    #titre {
        margin:2px;
        float: left;
        font-size: 50px;
    }
    a img{
        height:50px; 
        width: 50px; 
        margin: 2px;
        z-index: 1;
    }
    #nomOrga{
        font-size: 30px;
    }
    #nomEvent{
        font-size: 30px;
    }
    .vide{
       height: 63px;
       width: 100%;
    }
}