/* 
    Document   : main
    Created on : 8 janv. 2013, 22:33:28
    Author     : Fred H
    Description:background-color: #E5E8ED
        Purpose of the stylesheet follows.
*/

*{
    margin:0px; 
    font-family: sans-serif;
}
body{
    font-family: sans-serif; 
    font-size: 14px;
    margin:0px;
}
.acceuilBlock{
        background-color: #A2A9AF;
        margin: 20px;
        padding:5px;
        height: 100px;
        
    } 

#lientitre {color:black;text-decoration: none}
#header{
        position: fixed;
        width : 100%;
        font-size: 20px; 
        color: white; 
        background-color: #FFFF66;
        -moz-box-shadow:inset 0px -3px 10px #000000;
        -webkit-box-shadow:inset 0px -3px 10px #000000;
        box-shadow:inset 0px -3px 10px #000000;
        margin:0px;
        z-index: 10;
        border:hidden 5px #000000;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topright:0px;
        -moz-border-radius-bottomleft:28px;
        -moz-border-radius-bottomright:28px;
        -webkit-border-top-left-radius:0px;
        -webkit-border-top-right-radius:0px;
        -webkit-border-bottom-left-radius:28px;
        -webkit-border-bottom-right-radius:28px;
        border-top-left-radius:0px;
        border-top-right-radius:0px;
        border-bottom-left-radius:28px;
        border-bottom-right-radius:28px;
    }    
#header li{
        display:inline; 
        text-decoration: none;
    }
#header ul{
        text-align: right;
        margin:0px 15px 0px 0px;
    }
#footer{
        color: white;
        margin: 1px 0px 0px 0px;
        background-color: #003366;
        width: 100%
    }
#footer p {
        text-align: right;
    }
#logoOrga im{
       text-align: left;
       height:45px; 
       width: 45px;
    }
#logoEvent im{
    text-align: left;
    height:45px; 
    width: 45px;
    }
.logo{
    height: 60px;
    width: 60px;
    position: relative;
    float: right;
}
#present{
        text-align: center;
    }     
.message{
        /*background:-webkit-gradient(linear, 62% 34%, 62% 73%, from(#302E2E), to(#5F605D));*/
        background-image: url(../images/carbone.jpg);
        margin: 1px 1px 0px 1px;
        padding:5px 5px 5px 2px;
        z-index: 1;
    }
.menuMessage{
        padding: 2px;
        margin: 0px 20px 1px 20px;
        height: 35px;
        background-color: #CCCCCC;
        -moz-box-shadow:inset 0px 5px 5px #636363;
        -webkit-box-shadow:inset 0px 5px 5px #636363;
        box-shadow:inset 0px 5px 5px #636363;
        border:hidden 5px #000000;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topright:0px;
        -moz-border-radius-bottomleft:14px;
        -moz-border-radius-bottomright:14px;
        -webkit-border-top-left-radius:0px;
        -webkit-border-top-right-radius:0px;
        -webkit-border-bottom-left-radius:14px;
        -webkit-border-bottom-right-radius:14px;
        border-top-left-radius:0px;
        border-top-right-radius:0px;
        border-bottom-left-radius:14px;
        border-bottom-right-radius:14px;
    }
 .menuMessage li{
     position: relative;
     text-decoration: none;
     display: inline;
 }
 .icone{
     position: relative;
     float: left;
     height: 30px;
     width: 30px;
     margin: 5px 2% 0px 15px;
     vertical-align: middle;
 }
 #plus{
     position: relative;
     float: left;
     height: 30px;
     width: 30px;
     margin: 12px 2% 0px -3px;
     vertical-align: middle;
 }
 #moins{
     position: relative;
     float: left;
     height: 30px;
     width: 30px;
     margin: 12px 2% 0px -3px;
     vertical-align: middle;
 }
.moderation{position: relative;text-align: center; margin: 0px 5px 0px 0px}    

#menuEcrire{
        padding: 0px 2px 0px 2px;
        position: fixed;
        top: 100%;
        margin: -25px 0 0 0;
        width: 100%;
        background-color: #FFFF66;
        -moz-box-shadow:inset 0px 3px 4px #000000;
        -webkit-box-shadow:inset 0px 3px 4px #000000;
        box-shadow:inset 0px 3px 4px #000000;
        z-index: 9;
        border:hidden 9px #000000;
        -moz-border-radius-topleft: 28px;
        -moz-border-radius-topright:28px;
        -moz-border-radius-bottomleft:0px;
        -moz-border-radius-bottomright:0px;
        -webkit-border-top-left-radius:28px;
        -webkit-border-top-right-radius:28px;
        -webkit-border-bottom-left-radius:0px;
        -webkit-border-bottom-right-radius:0px;
        border-top-left-radius:28px;
        border-top-right-radius:28px;
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
    }
#menuEcrireLien{
     margin: 0px auto;
     height: 25px;
     width: 20px;
 }
 .bulle{
     height: 25px;
     width: 30px;
     margin: 2px;
 }
#ecrireMessage{
        position: fixed;
        top: 100%;
        margin: -118px 0 0 0;
        width: 100%;
        background-color: #FFFF66;
        -moz-box-shadow:inset 0px 3px 4px #000000;
        -webkit-box-shadow:inset 0px 3px 4px #000000;
        box-shadow:inset 0px 3px 4px #000000;
        z-index: 10;
        text-align: center;
        border:hidden 9px #000000;
        -moz-border-radius-topleft: 28px;
        -moz-border-radius-topright:28px;
        -moz-border-radius-bottomleft:0px;
        -moz-border-radius-bottomright:0px;
        -webkit-border-top-left-radius:28px;
        -webkit-border-top-right-radius:28px;
        -webkit-border-bottom-left-radius:0px;
        -webkit-border-bottom-right-radius:0px;
        border-top-left-radius:28px;
        border-top-right-radius:28px;
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
    }
input{margin:0px;width: 85%}
dd #message{margin:0px auto;height: 20px}
select{margin:0px auto;}
dt dd .envoyer{margin:0px auto; width: 50px}
#vide{
    height: 26px;
    width:100%;
}

.dateMessage{
       position: relative;
       float: right;
       color: #66CCFF;
       z-index: 1;
    }
.nomUser{
       font-weight: bold;
       color: #66CCFF;
    }
.lblMessage{
        color: white;
        font-size: 12px;
    }
.avatar img{
        position: relative;
        float: left;
        height:45px; 
        width: 45px; 
        margin: 2px;
    }
.nbMessage{
        background-image: url(images/message.png);
        float: right;
        height: 25px;
        line-height:25px;
        width: 25px;
        color: #FFFF66;
        text-align: center;
        z-index:1;
       
    }
.nbMessage span{
        top:5px;
        z-index:2;
    }
@media screen and (max-width: 480px){
    #titre {
        margin: 1px 4px 3px 15px;
        float: left; 
    }
    a img{
        height:25px; 
        width: 25px; 
        margin: 2px;
        z-index: 1;
    }
    #nomOrga{
        font-size: 20px;
    }
    #nomEvent{
        font-size: 20px;
    }
    .vide{
       height: 34px;
       width: 100%;
    }
}

@media screen and (min-width: 481px){
    #titre {
        margin: 1px 4px 3px 15px;
        float: left;
        font-size: 50px;
    }
    a img{
        height:50px; 
        width: 50px; 
        margin: 2px;
        z-index: 1;
    }
    #nomOrga{
        font-size: 30px;
    }
    #nomEvent{
        font-size: 30px;
    }
    .vide{
       height: 63px;
       width: 100%;
    }
}